body{
  background-color:#202225;
}

.brand p{
   width:90px;
   height:60px;
  font-family:monospace;
  border-radius:20px;
   margin:0;
   float:right;
   font-size:50px;
   color:white;
   background-color:#f94449;
}
.links a{
  color:white;
  font-family:monospace;
}

.text h1{
  text-align:center;
  font-family:monospace;
  color:white;
  font-size:60px;
}
.text p{
  text-align:center;
  font-family:monospace;
  color:white;
  font-size:30px;
}
img {
  display:block;
  margin:auto;
  
}

